/* General CSS */
body {
  font-family: 'Lexend Deca', sans-serif;
  overflow-x: hidden;
  padding: 3% 10%;
}

.backToHome{
  left: 2%;
  top: 2%;
  font-size: 1rem;
  position: absolute;
}

.needsUnderline{
  text-decoration: underline;
}

.nestedList{
  left: 3%;
}

.larger{
  font-size: 1.4rem;
}

.description{
  font-size: 1.2rem;
}

a{
  color: black;
}

a:hover{
  color: black;
}

.title {
  text-align: center;
  padding: 2% 0%;
  font-size: 3rem;
  padding-bottom: 0%;
}

.econSubtitle{
  text-align: center;
  padding: 5%;
  padding-bottom: 0%;
  color: black;
}

.midSection{
  padding: 2.5% 0%;
}

.midSection h1{
  padding: 1% 0%;
}

.tinyTexts{
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}

.list-group{
  padding-top: 2%;
}

.macroObjectives{
  padding: 2% 4%;
}

.subtitleMacro{
  padding: 2% 0%;
}

.alert-info{
  margin: 2% 0%;
}

.asM{
  margin-top: 2%;
}

.govExpRev{
  margin-top: 2%;
  text-align: center;
  padding: 0% 3%;
}

.math{
  text-align: left;
}

.multiplierExample{
  padding: 2% 20%;
}

.autoStab{
  padding: 2% 4%;
}

.icon-auto{
  padding: 4%;
}
