.fa-igloo{
  margin-top: 20px;
  margin-left: 20px;
}

a{
  color: black;
}

a:hover{
  color: grey;
}

body{
  background-color: #f4dada;
  font-family: 'Indie Flower', cursive;
  /* color: #f9989f; */
}

h1{
  margin-top: 50px;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

.education{
  margin: 50px 75px;
  font-size: 35px;
  list-style-type: none;
}

.title{
  text-decoration: underline;
  font-weight: bold;
}

.date{
  font-family: 'Volkhov', serif;
  font-size: 25px;
  margin-left: 50px;
  text-decoration: underline;
}

.school{
  font-family: 'Volkhov', serif;
  font-size: 20px;
  margin-left: 50px;
}

footer{
  background-color: #b8b2a6;
  height: 9%;
}

footer .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

footer .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 2px;
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.copyright{
  font-size: 18px;
 font-weight: bold;
 margin: 0 0 10px;
 padding: 18px;
 transition: ease .25s;
 text-align: center;
}
