body{
  overflow-y:hidden;
  color: #1c819e;
}

.btn {
border:0px solid transparent;
margin: 10px;
}

.card{
background-color: transparent;
}

.portfolioDescrip{
  background-color: #e3f2fd;
  padding: 14% 0%;
  text-align: center;

}

.portfolioTitle{
  padding: 1% 0%;
  color: #1c819e;
}

.card-group{
  padding: 1% 2%;
}

.card-body{
  color: #1c819e;
}
