body{
  overflow-y:hidden;
}

.btn {
border:0px solid transparent;
margin: 10px;
}

.homeDescrip {
  text-align: center;
  background-color: #e3f2fd;
  padding: 3% 0%;
}

.titleAbout{
  padding: 1% 0%;
  color: #1c819e;
}

.resume{
  padding-top: 5%;
}

.aboutbox {
text-align: left;
padding: 2% 0%;
}

.imageBox{
  float: right;
  width: 100%;
  height: auto;
}

.footer{
  text-align: center;
background-color: #408ab4;
color:white;
padding: 2% 5%;
}

.footer-link{
  color: #ffff;
  padding: 0% 20px;
}

.copyright{
  padding-top: 2%;
}
